body, ul, h1, h2, h3, p, button, a, div{
  margin: 0;
  padding: 0;
  color: white;
  font-family: 'Quicksand';
  letter-spacing: 2px;
  list-style-type: none;
  text-decoration: none;
}
body{
  background: rgb(136, 129, 138);
  background: radial-gradient(circle, rgb(171, 168, 172) 0%, rgb(123, 118, 125) 100%);
  overflow-x: hidden;
}

.subhero{
  height: 100vh;
  width: 100%;
  margin-top: 20rem;
}

.hero{
  margin-top: 15rem;
  font-size: 2rem;
  margin-left: 2rem;
}


.nav{
  display: flex;
  justify-content: space-between;
  padding: 2rem;
  width: 95vw;
}

li{
  margin: 0 2rem;
  cursor: pointer
}

.logo{
  cursor: pointer;
}

.nav, ul{
  display: flex;
}
.diamond-container{
  background-color: black;
  width: 10%;
  display: flex;
justify-content: center;
  border-radius: 20px;
}

.diamond-container>p{
  padding: 0.5rem;
  cursor: pointer
}

